html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MAIN LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  min-width: 260px;
  background: #111827;
  color: white;
  padding: 20px;
}

/* MAIN CONTENT AREA */
.content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background: #0b1220;
  padding: 20px;

  color: white;
}

/* DASHBOARD */
.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.chart-card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
}

.chart-title {
  color: #cbd5e1;
  margin-bottom: 10px;
}
.chat-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
}